#container {
    width: 700px;
    margin: 0 auto;
}

.group {
    border: 1px solid grey;
    margin-bottom: 20px;
}

.group p {
    text-align: center;
    font-family: Helvetica sans-serif;
    font-size: 28px;
    color: #2e3d49;
}

.group img{
    width: 100%;
    display: block;
}