#container {
    width: 700px;
    margin: 0 auto;
}

#container p {
    text-align: center;
    font-family: Helvetica sans-serif;
    font-size: 28px;
    color: #2e3d49;
}

#cat img{
    width: 100%;
}